{% extends "base.html" %}
{ % block title %}Documents{ % endblock %}
{% block content %}
<h1>Upload a Document</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
</form>

<h2>Uploaded Documents</h2>
<ul>
    {% for document in documents %}
        <li>
            <a href="{{ document.file.url }}">{{ document.name }}</a>
            (Topic: {{ document.topic.title }})
            <a href="{% url 'update_document' document.id %}">Edit</a> |
            <a href="{% url 'delete_document' document.id %}">Delete</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
